body {
    background-image: radial-gradient(circle, rgb(220, 220, 220) 50%, rgba(255,255,255,1) 95%);
}

.button {
    padding-top: 90px;
    text-align: center;
}

hr {
    width: 1000px;
    border: 0;
    height: 3px;
    background: #000;
    background-image: -webkit-linear-gradient(left, #e3e3e3, #000, #e3e3e3);
    background-image: -moz-linear-gradient(left, #e3e3e3, #000, #e3e3e3);
    background-image: -ms-linear-gradient(left, #e3e3e3, #000, #e3e3e3);
    background-image: -o-linear-gradient(left, #e3e3e3, #000, #e3e3e3);
}

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

a:hover::after {
    width: 100%;
    left: 0;
}